#home-hedding{display:none}#top-news{padding:10px;border-style:inset;border-width:2px;border-color:#7f7f5d;-webkit-border-radius:5px 5px;-moz-border-radius:5px / 5px;border-radius:5px / 5px}#top-news li{margin:10px;overflow:hidden;*zoom:1}#top-news li .news-text,#top-news li .news-link{display:block;float:left}#top-news li .news-date{display:block;float:right;color:#666}#top-news #more-news{margin-top:20px;text-align:right}#module-ver{margin-top:20px;padding:10px;font-size:small;font-style:italic;color:#666}
