@import "compass";

.main p {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
}

#interests {
  @include clearfix;
  border: {
    style: dashed;
    width: 1px;
  }
  li {
    float: left;
    margin: 20px;
  }
}
