@charset "UTF-8";
@import "compass";
$bc: #ffb;
#top-news {
  margin: 20px;
  border: {
    style: inset;
    width: 2px;
    color: $bc * 0.5;
  }
  @include border-radius(5px, 5px);
  li {
    margin: 10px;
  }
}
