@charset "UTF-8";
@import "compass";
$bc: #ffb;

#home-hedding {
  display: none;
}

#top-news {
  padding: 10px;
  border: {
    style: inset;
    width: 2px;
    color: $bc * 0.5;
  }
  @include border-radius(5px, 5px);
  li {
    margin: 10px;
    @include clearfix;

    .news-text, .news-link {
      display: block;
      float: left;
    }
    .news-date {
      display: block;
      float: right;
      color: #666;
    }
  }

  #more-news {
    margin-top: 20px;
    text-align: right;
  }
}

#module-ver {
  margin-top: 20px;
  padding: 10px;
  font-size: small;
  font-style: italic;
  color: #666;
}
