@charset "UTF-8";
@import "compass";
@import "compass/reset";
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

$bc: #ffb;

@mixin headfoot {
  color: #fff;
  background-color: $bc * 0.6;
  text-align: center;
  padding: 20px;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: $bc * 0.8;
  margin-bottom: 6em;
}

header {
  @include headfoot;
  padding-bottom: 10px;
  h1 {
    font-size: xx-large;
    font-weight: 700;
    font-family: sans-serif;
    padding-bottom: 20px;
  }
  nav {
    font-size: large;
    background-color: $bc * 0.5;
    border: {
      style: dotted solid;
      width: 3px;
      color: $bc * 0.6;
    }
    .menu-button {
      display: none;
    }
    ul {
      @include inline-block-list;
      li {
        a {
          @include inline-block;
          color: #fff;
          font-family: 'Source Code Pro';
          text-decoration: none;
          padding: 10px;
          width: 60px;
          &:hover {
            background-color: $bc * 0.55;
          }
        }
      }
    }
  }
  @media (max-width: 479px) {
    padding-left: 0;
    padding-right: 0;
    nav {
      margin: 0;
      padding: 5px;
      text-align: left;
      .menu-button {
        display: inline-block;
        padding: 10px 20px;
        color: $bc;
        background-color: inherit;
        border: none;
        border-left: {
          style: solid;
          width: 3px;
          color: $bc * 0.4;
        }
        &:hover {
          background-color: $bc * 0.55;
        }
      }
      ul {
        li {
          margin-left: 30px;
          display: none;
          a {
            padding-left: 20px;
            &::before {
              color: $bc;
              font-size: small;
              content: "-";
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
.main {
  background-color: $bc;
  padding: 20px;
  margin-bottom: 200px;
  @include clearfix;
  @media (min-width: 480px) {
    margin: 20px;
  }
  @media (min-width: 1000px) {
    max-width: 900px;
    margin: 20px auto;
  }
  @include border-radius(5px, 5px);
}
footer {
  @include headfoot;
  width: 100%;
  bottom: 0;
  position: absolute;
  font-size: large;
  font-family: 'Source Code Pro';
}

h2 {
  font-size: x-large;
  font-weight: bold;
  margin: 0.5em auto;
}
h3 {
  font-size: large;
  font-weight: bold;
  margin: 0.5em auto;
}
